@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}


@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html,
body,
#root {
  max-width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
}

.carousel,
.swiper,
marquee {
  max-width: 100%;
  overflow: hidden;
}
